In [3]:
# DEMONSTRATE GRIDSEARCH WITH CASE14

import pandas as pd
import pandapower as pp
import pandapower.networks as ppnets
#from pandapower.plotting import simple_plot, simple_plotly, pf_res_plotly
import pandapower.plotting as plt
import pandapower.plotting.plotly as pplotly
import matplotlib.pyplot as mplt

In [ ]:
# SUPER SIMPLE EXAMPLE

In [53]:
import pandapower as pp
import pandapower.networks as pn
import pandapower.plotting as plot

# 1. Create or load a test network
net = pn.simple_four_bus_system()

net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,load1,2,0.03,0.01,0.0,0.0,NaN,1.0,True,wye
1,load2,3,0.03,0.01,0.0,0.0,NaN,1.0,True,wye

In [54]:
# 2. Run power flow
pp.runpp(net)

In [55]:
# 3A. Check Bus voltages and angles
net.res_bus        # Bus voltages and angles
# vm_pu: voltage magnitude (should be close to 1.0 pu).
# va_degree: phase angle (shows how power flows through the system).

      vm_pu   va_degree      p_mw    q_mvar
0  1.000000    0.000000 -0.028256 -0.013475
1  0.996608 -150.208127  0.000000  0.000000
2  0.937760 -149.007459  0.010000  0.005000
3  0.902000 -148.184087  0.015000  0.008000

In [48]:
# 3B. Check Line Results
net.res_line       # Line flows and loading
# p_from_mw/q_from_mvar: active/reactive flow at the “from” bus end.
# loading_percent: how much of the line’s capacity is used.

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,0.027611,0.013328,-0.025713,-0.013088,0.001899,0.000241,0.044405,0.044408,0.044408,0.996608,-150.208127,0.93776,-149.007459,31.273098
1,0.015713,0.008088,-0.015000,-0.008000,0.000713,0.000088,0.027200,0.027203,0.027203,0.937760,-149.007459,0.90200,-148.184087,19.157249

In [49]:
#3C. Check Generator Results
net.res_sgen
# p_mw: active power generation.
# q_mvar: reactive support

    p_mw  q_mvar
0  0.020   0.005
1  0.015   0.002

In [50]:
#3D. Check Slack Bus  
net.res_ext_grid   # Slack bus power
#tells you how much power the slack bus is supplying
#(negative sign means supplying power into the system)?

       p_mw    q_mvar
0  0.028256  0.013475

In [51]:
#3E. Check Transformer loadings
net.res_trafo

,p_hv_mw,q_hv_mvar,p_lv_mw,q_lv_mvar,pl_mw,ql_mvar,i_hv_ka,i_lv_ka,vm_hv_pu,va_hv_degree,vm_lv_pu,va_lv_degree,loading_percent
0,0.028256,0.013475,-0.027611,-0.013328,0.000644,0.000147,0.001807,0.044405,1.0,0.0,0.996608,-150.208127,12.521761

In [56]:
gen_mw_total = net.res_gen['p_mw'].sum() 
imports_mw_total = net.res_ext_grid['p_mw'].sum()

print('total gen MW:', gen_mw_total + imports_mw_total)
print('total imported gen MW:', imports_mw_total)
print('total local gen MW:', gen_mw_total)
print('total load MW:', net.res_load['p_mw'].sum())

total gen MW: 0.02825569169457029
total imported gen MW: 0.02825569169457029
total local gen MW: 0.0
total load MW: 0.06